<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  {% seo %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap" rel="stylesheet">

  {% case site.blog_theme %}
    {% when 'light' %}
      <link rel='stylesheet' href='{{ '/assets/light.css' | relative_url }}'>
    {% when 'dark' %}
      <link rel='stylesheet' href='{{ '/assets/dark.css' | relative_url }}'>
    {% when 'auto' %}
      <link rel='stylesheet' href='{{ '/assets/light.css' | relative_url }}'>
      <link rel='stylesheet' href='{{ '/assets/dark.css' | relative_url }}' media="(prefers-color-scheme: dark)">
  {% endcase %}

  {% feed_meta %}
  {% include google_analytics.html %}
  <!-- ****** faviconit.com favicons ****** -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="icon" sizes="16x16 32x32 64x64" href="https://raw.githubusercontent.com/jirrian/virtualgoodsdealer_favicon/master/favicon.ico">
  <link rel="icon" type="image/png" sizes="196x196" href="https://raw.githubusercontent.com/jirrian/virtualgoodsdealer_favicon/master/favicon-192.png">
  <link rel="icon" type="image/png" sizes="160x160" href="https://raw.githubusercontent.com/jirrian/virtualgoodsdealer_favicon/master/favicon-160.png">
  <link rel="icon" type="image/png" sizes="96x96" href="https://raw.githubusercontent.com/jirrian/virtualgoodsdealer_favicon/master/favicon-96.png">
  <link rel="icon" type="image/png" sizes="64x64" href="https://raw.githubusercontent.com/jirrian/virtualgoodsdealer_favicon/master/favicon-64.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://raw.githubusercontent.com/jirrian/virtualgoodsdealer_favicon/master/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://raw.githubusercontent.com/jirrian/virtualgoodsdealer_favicon/master/favicon-16.png">
  <link rel="apple-touch-icon" href="https://raw.githubusercontent.com/jirrian/virtualgoodsdealer_favicon/master/favicon-57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://raw.githubusercontent.com/jirrian/virtualgoodsdealer_favicon/master/favicon-114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://raw.githubusercontent.com/jirrian/virtualgoodsdealer_favicon/master/favicon-72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://raw.githubusercontent.com/jirrian/virtualgoodsdealer_favicon/master/favicon-144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://raw.githubusercontent.com/jirrian/virtualgoodsdealer_favicon/master/favicon-60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://raw.githubusercontent.com/jirrian/virtualgoodsdealer_favicon/master/favicon-120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://raw.githubusercontent.com/jirrian/virtualgoodsdealer_favicon/master/favicon-76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://raw.githubusercontent.com/jirrian/virtualgoodsdealer_favicon/master/favicon-152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://raw.githubusercontent.com/jirrian/virtualgoodsdealer_favicon/master/favicon-180.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="https://raw.githubusercontent.com/jirrian/virtualgoodsdealer_favicon/master/favicon-144.png">
  <meta name="msapplication-config" content="https://raw.githubusercontent.com/jirrian/virtualgoodsdealer_favicon/master/browserconfig.xml">
  <!-- ****** faviconit.com favicons ****** -->
</head>
