<header class='header'>
	<div class="container">
		<nav class="navbar navbar-expand-xl navbar-light">
			  <a class="navbar-brand" href="/">{{ site.title | escape }}</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="toggle-button-svg bi bi-list" viewBox="0 0 15 14">
  <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
</svg>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <div class="navbar-nav">
		    	{% assign pages_sorted = site.pages | sort: "order" %}
		    	{% for page in pages_sorted %}
			      {% if page.title and page.title == "articles" %}
			      	<li>
			      		<a class="nav-item nav-link nav-link-articles" href="{{ page.url | relative_url }}">/{{ page.title | escape }}</a>
			      	</li>
			      		<div class="category-nav-toggle landing-articles-categories">
			      		{% assign categories = site.categories | sort %}
						{% for category in categories %}
						    <li>
						      <a class="category-nav-link font-weight-light" href="{{ site.url }}/articles/{{ category | first | slugsize }}">/{{ category | first }}</a>
						    </li>
						{% endfor %}
						</div>
					{% elsif page.title %}
						<li>
			      			<a class="nav-item nav-link" href="{{ page.url | relative_url }}">/{{ page.title | escape }}</a>
			      		</li>
			      {% endif %}
			    {% endfor %}
			    	
			  <li>
		      </li>
		    </div>
		  </div>
		</nav>
	</div>
</header>
