// COLORS

// darkmode
@mixin dark-mode {

  .card, .list-group-item, .posts-link-by:before, .form-control, .form-control:focus{
    background-color: $body-bg-color-dark;
  }
  .navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link, .landing-articles-categories a, .artist-page h3, .artist-page a, .post-content a, .response-form-title, .article-nav a, .article-suggested a, .submission-list a, .creator-list a, .exhibit-creator-link a, .landing-product-card a, .btn-outline-primary, .posts__link, .post a, .post h1,
  .post h2,
  .post h3,
  .post h4,
  .post h5,
  .post h6{
  color: $accent-color-dark;
  }

  .btn-primary, .btn-outline-primary:hover, .badge-primary{
    background-color: $accent-color-dark;
  }

  .btn-primary, .btn-outline-primary, .btn-outline-primary:hover, .exhibit-card, .landing .card, .border-primary, .post-thumbnail-container, hr {
    border-color: $accent-color-dark !important;
  }

  .post a:hover, .read-more:hover, .posts-categories a:hover, .category-nav a:hover, .creator-list a:hover, .exhibit-creator-link a:hover, .landing-articles-categories a:hover, .landing-product-card a:hover, .author-post-bio a:hover, .post a:hover, .posts__link:hover, .posts-link-authors:hover, .artist-page a:hover, .author-post-bio a, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover, .post-content a:hover, .footer a:hover{
    color: $hover-color-dark !important;
  }

  .post, .form-article-title, code {
    color: $text-color-dark;
  }

  .posts-link-authors, .page-name, .read-more, .artist-articles, .article-suggested, .exhibit-vgd, .author-createdby, .posts-categories a, .category-nav a, .posts-link-by, .posts__date, .form-control, .post figure figcaption, .post figure figcaption a, .post blockquote, .post blockquote a, .footer a, .footer{
    color: $text-sec-color-dark !important;
  }

  .btn-primary:hover{
    background-color: $primary-btn-hover-dark;
  }

  .svg-icon{
    fill: $text-sec-color-dark;
  }

  .svg-icon:hover{
    fill: $hover-color-dark;
  }

  .post code, .post tt, .post pre {
    background-color: $code-bg-color-dark;
  }

  .post hr, footer hr {
    border-color: $text-sec-color-dark !important;
  }

  .highlight {
    .c     { color: $white-darkest; font-style: italic } // Comment
    .err   { color: $green-lighter } // Error
    .k     { font-weight: bold } // Keyword
    .o     { font-weight: bold } // Operator
    .cm    { color: $white-darkest; font-style: italic } // Comment.Multiline
    .cp    { color: $white-darkest; font-weight: bold } // Comment.Preproc
    .c1    { color: $white-darkest; font-style: italic } // Comment.Single
    .cs    { color: $white-darkest; font-weight: bold; font-style: italic } // Comment.Special
    .gd    { color: $white; } // Generic.Deleted
    .gd .x { color: $white; } // Generic.Deleted.Specific
    .ge    { font-style: italic } // Generic.Emph
    .gr    { color: $green-lighter } // Generic.Error
    .gh    { color: $white-darkest } // Generic.Heading
    .gi    { color: $white } // Generic.Inserted
    .gi .x { color: $white } // Generic.Inserted.Specific
    .go    { color: $white-darkest } // Generic.Output
    .gp    { color: $white-darker } // Generic.Prompt
    .gs    { font-weight: bold } // Generic.Strong
    .gu    { color: $white-darkest } // Generic.Subheading
    .gt    { color: $green-light } // Generic.Traceback
    .kc    { font-weight: bold } // Keyword.Constant
    .kd    { font-weight: bold } // Keyword.Declaration
    .kp    { font-weight: bold } // Keyword.Pseudo
    .kr    { font-weight: bold } // Keyword.Reserved
    .kt    { color: $purple-lighter; font-weight: bold } // Keyword.Type
    .m     { color: $purple } // Literal.Number
    .s     { color: $green } // Literal.String
    .na    { color: $purple-light } // Name.Attribute
    .nb    { color: $purple-light } // Name.Builtin
    .nc    { color: $purple-lighter; font-weight: bold } // Name.Class
    .no    { color: $purple-light } // Name.Constant
    .ni    { color: $red-light } // Name.Entity
    .ne    { color: $green-lighter; font-weight: bold } // Name.Exception
    .nf    { color: $green-lighter; font-weight: bold } // Name.Function
    .nn    { color: $white-darker } // Name.Namespace
    .nt    { color: $purple-lighter } // Name.Tag
    .nv    { color: $purple-light } // Name.Variable
    .ow    { font-weight: bold } // Operator.Word
    .mf    { color: $purple } // Literal.Number.Float
    .mh    { color: $purple } // Literal.Number.Hex
    .mi    { color: $purple } // Literal.Number.Integer
    .mo    { color: $purple } // Literal.Number.Oct
    .sb    { color: $green } // Literal.String.Backtick
    .sc    { color: $green } // Literal.String.Char
    .sd    { color: $green } // Literal.String.Doc
    .s2    { color: $green } // Literal.String.Double
    .se    { color: $green } // Literal.String.Escape
    .sh    { color: $green } // Literal.String.Heredoc
    .si    { color: $green } // Literal.String.Interpol
    .sx    { color: $green } // Literal.String.Other
    .sr    { color: $red } // Literal.String.Regex
    .s1    { color: $green } // Literal.String.Single
    .ss    { color: $red } // Literal.String.Symbol
    .bp    { color: $white-darkest } // Name.Builtin.Pseudo
    .vc    { color: $purple-light } // Name.Variable.Class
    .vg    { color: $purple-light } // Name.Variable.Global
    .vi    { color: $purple-light } // Name.Variable.Instance
    .il    { color: $purple } // Literal.Number.Integer.Long
  }

}


@media (prefers-color-scheme: dark) {
  body {
    @include dark-mode;
    background-color: $body-bg-color-dark !important;
    color: $text-color-dark !important;
  }

  :root {
    color-scheme: dark;
  }
}

// lightmode
body {
  background-color: $body-bg-color-light;
  color: $text-color-light;
}

.post, .form-article-title, code {
  color: $text-color-light;
}

.card, .list-group-item, .posts-link-by:before, .form-control, .form-control:focus{
  background-color: $body-bg-color-light;
}

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link, .landing-articles-categories a, .artist-page h3, .artist-page a, .post-content a, .response-form-title, .article-nav a, .article-suggested a, .submission-list a, .creator-list a, .exhibit-creator-link a, .landing-product-card a, .btn-outline-primary, .posts__link, .post a, .post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6{
  color: $accent-color-light;
}

.btn-primary, .btn-outline-primary:hover, .badge-primary{
  background-color: $accent-color-light;
}

.btn-primary, .btn-outline-primary, .btn-outline-primary:hover, .exhibit-card, .landing .card, .border-primary, .post-thumbnail-container, hr {
  border-color: $accent-color-light !important;
}

.post a:hover, .read-more:hover, .posts-categories a:hover, .category-nav a:hover, .creator-list a:hover, .exhibit-creator-link a:hover, .landing-articles-categories a:hover, .landing-product-card a:hover, .author-post-bio a:hover, .post a:hover, .posts__link:hover, .posts-link-authors:hover, .artist-page a:hover, .author-post-bio a, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover, .post-content a:hover, .footer a:hover{
  color: $hover-color-light !important;
}

.posts-link-authors, .page-name, .read-more, .artist-articles, .article-suggested, .exhibit-vgd, .author-createdby, .posts-categories a, .category-nav a, .posts-link-by, .posts__date, .form-control, .post figure figcaption, .post figure figcaption a, .post blockquote, .post blockquote a, .footer a, .footer{
  color: $text-sec-color-light !important;
}

.btn-primary:hover{
  background-color: $primary-btn-hover-light;
  border-color: $primary-btn-hover-light !important;
}

.svg-icon{
  fill: $text-sec-color-light;
}

.svg-icon:hover{
  fill: $hover-color-light;
}

.post code, .post tt, .post pre {
  background-color: $code-bg-color-light;
}

.post hr, footer hr {
  border-color: $text-sec-color-light !important;
}

.highlight {
  .c     { color: $black-lightest; font-style: italic } // Comment
  .err   { color: $green-dark } // Error
  .k     { font-weight: bold } // Keyword
  .o     { font-weight: bold } // Operator
  .cm    { color: $black-lightest; font-style: italic } // Comment.Multiline
  .cp    { color: $black-lightest; font-weight: bold } // Comment.Preproc
  .c1    { color: $black-lightest; font-style: italic } // Comment.Single
  .cs    { color: $black-lightest; font-weight: bold; font-style: italic } // Comment.Special
  .gd    { color: $black; } // Generic.Deleted
  .gd .x { color: $black; } // Generic.Deleted.Specific
  .ge    { font-style: italic } // Generic.Emph
  .gr    { color: $green-dark } // Generic.Error
  .gh    { color: $black-lightest } // Generic.Heading
  .gi    { color: $black } // Generic.Inserted
  .gi .x { color: $black } // Generic.Inserted.Specific
  .go    { color: $black-lightest } // Generic.Output
  .gp    { color: $black-lighter } // Generic.Prompt
  .gs    { font-weight: bold } // Generic.Strong
  .gu    { color: $black-lightest } // Generic.Subheading
  .gt    { color: $green-dark } // Generic.Traceback
  .kc    { font-weight: bold } // Keyword.Constant
  .kd    { font-weight: bold } // Keyword.Declaration
  .kp    { font-weight: bold } // Keyword.Pseudo
  .kr    { font-weight: bold } // Keyword.Reserved
  .kt    { color: $purple-darker; font-weight: bold } // Keyword.Type
  .m     { color: $purple } // Literal.Number
  .s     { color: $green-lightmode } // Literal.String
  .na    { color: $purple-dark } // Name.Attribute
  .nb    { color: $purple-dark } // Name.Builtin
  .nc    { color: $purple-darker; font-weight: bold } // Name.Class
  .no    { color: $purple-dark } // Name.Constant
  .ni    { color: $red-dark } // Name.Entity
  .ne    { color: $green-darker; font-weight: bold } // Name.Exception
  .nf    { color: $green-darker; font-weight: bold } // Name.Function
  .nn    { color: $black-lighter } // Name.Namespace
  .nt    { color: $purple-darker } // Name.Tag
  .nv    { color: $purple-dark } // Name.Variable
  .ow    { font-weight: bold } // Operator.Word
  .mf    { color: $purple } // Literal.Number.Float
  .mh    { color: $purple } // Literal.Number.Hex
  .mi    { color: $purple } // Literal.Number.Integer
  .mo    { color: $purple } // Literal.Number.Oct
  .sb    { color: $green-lightmode } // Literal.String.Backtick
  .sc    { color: $green-lightmode } // Literal.String.Char
  .sd    { color: $green-lightmode } // Literal.String.Doc
  .s2    { color: $green-lightmode } // Literal.String.Double
  .se    { color: $green-lightmode } // Literal.String.Escape
  .sh    { color: $green-lightmode } // Literal.String.Heredoc
  .si    { color: $green-lightmode } // Literal.String.Interpol
  .sx    { color: $green-lightmode } // Literal.String.Other
  .sr    { color: $red } // Literal.String.Regex
  .s1    { color: $green-lightmode } // Literal.String.Single
  .ss    { color: $red } // Literal.String.Symbol
  .bp    { color: $black-lightest } // Name.Builtin.Pseudo
  .vc    { color: $purple-dark } // Name.Variable.Class
  .vg    { color: $purple-dark } // Name.Variable.Global
  .vi    { color: $purple-dark } // Name.Variable.Instance
  .il    { color: $purple } // Literal.Number.Integer.Long
}

html {
    overflow-y:scroll;
}

body {
  font-family: 'Work Sans', sans-serif;
}

.navbar {
  padding: 0px;
}

.navbar-brand {
    font-family: Arial, sans-serif;
}

.posts-link-authors{
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}

.posts-categories a, .category-nav a, .read-more:hover, .posts-categories a:hover, .category-nav a:hover, .creator-list a:hover, .exhibit-creator-link a:hover, .landing-articles-categories a:hover, .landing-product-card a:hover, .author-post-bio a:hover, .posts-categories a:hover{
  text-decoration: none !important;
}

.posts-categories{
  margin-left: 0.4 rem;
}


.post a, .post-content a, .artist-page a, .post a:hover, .posts__link:hover, .posts-link-authors:hover, .artist-page a:hover, .author-post-bio a{
  text-decoration: underline;
}

.post-exerpt{
  margin-bottom: 0rem;
}

.post-title, .response-form-title{
  font-size: 1.5em;
}

.post-content{
  margin-top: 1rem;
  overflow-wrap: break-word;
}

.artist-name{
  margin-top: 1rem;
}

.artist-links .list-group{
  flex-direction: row;
}

.artist-articles-heading, .article-suggested-heading{
  margin-top: 2rem;
}

.artist-links .list-group-item {
  border: 0px;
  padding-left: 0px;
  padding-top: 0px;
}

.artist-articles .list-group-item, .article-suggested .list-group-item{
  border: 0px;
  margin-bottom: 1rem;
  padding: 0px;
}

.landing-articles-categories .list-group-item{
  border: 0px;
  padding: 0px;
}

.logo{
  max-width: 5rem;
}

.btn-primary{
  text-decoration: none !important;
  color: $white !important;
}

.btn-primary:hover{
  text-decoration: none !important;
  color: $white !important;
}

.btn-outline-primary {
    background-color: transparent;
    background-image: none;
}

.btn-outline-primary:hover {
    color: $white;
}

.form-article-title{
  width: 100%;
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0;
}

.form-article-title:focus{
  outline: none;
}

.response-form{
  margin-top: 1.25rem;
}

.posts-link-by:before {
  /* absolute positioning keeps it within h1's relative positioned box, takes it out of the document flow and forces a block-style display */
  position: absolute;
  /* the same width as our letter-spacing property on the h1 element */
  width: 0.3rem;
  /* we need to make sure our 'mask' is tall enough to hide the underline. For my own purpose 200% was enough, but you can play and see what suits you */
  height: 1.5rem;

  /* give the browser some text to render (if you're familiar with clearing floats like this, you should understand why this is important) */
  content: ".";
  /* hide the dynamic text you've just added off the screen somewhere */
  text-indent: -9999em;
  /* this is the magic part - pull the mask off the left and hide the underline beneath */
  margin-left: -0.3em;
}

.navbar-light .navbar-toggler {
  border: none;
  padding: 0px;
}

.creator-list li, .submission-item{
  margin-bottom: 0.2rem;
  margin-right: 0.2rem;
}

.creator-list-letter {
  font-size: 2rem;
  font-family: Arial, sans-serif;
  margin-top: 1rem;
}

.social-media-list li{
  display: inline;
}

.svg-icon{
  width: 1rem;
  margin-top: 5px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.footer a{
  text-decoration: none;
}


.badge {
  line-height: 1.2;
  font-weight: 400;
}


.submission-content {
  margin-top: 1rem;
}

.exhibit-card {
  margin-bottom: 1rem;
  height: 100%;
  overflow:hidden;
}

.exhibit-submissions{
  margin-top: 1rem;
}

.exhibit-col {
  padding-bottom: 1.7rem;
}

.exhibits-page-title {
  margin-left: 15px;
}

.figure {
  display: block;
}

.landing {
  margin-top: 5rem;
}

.landing .card {
  overflow:hidden;
}

video:focus, audio:focus {
  outline:none;
}


html {
  box-sizing: border-box;
  font-size: $default-font-size;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.layout {
}

.header {
  padding: 50px 0;
}

.main {
  margin: 50px 0 120px;
}

.header__nav {
  display: flex;
  align-items: baseline;
}

.header__nav__item {
  text-decoration: none;
  font-size: 1rem;
}

.header__nav__item--title {
  font-size: 1.55rem;
  margin-right: 40px;
  font-weight: bold;
}

.post-thumbnail-container {
  border: 1px solid;
  padding: .25rem;
  border-radius: .25rem;
}

.post-thumbnail-container img {
  width: 100%;
  height: auto;
}

.posts .post-thumbnail-exerpt {
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}

.thumbnail-col {
  padding-right: 0;
}

.date-column{
  flex: 0 0 14%;
}

.category-nav-link{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.nav-link-articles{
  padding-bottom: 0.25rem;
}

.category-nav-toggle {
  padding-bottom: 0.25rem;
  padding-left: 1rem;
}

.author-photo {
  width: 100%;
}

.posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.posts__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.posts__date {
  font-size: 1rem;
}

.posts__title {
  font-size: 1rem;
}

.posts__link {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}

.footer {
  margin-top: 3rem;
  font-size: .9rem;
  font-family: Arial, sans-serif;
}


#disqus_thread {
  margin-top: 60px;
}

.post {
  font-weight: 400;
  line-height: 1.8rem;
  font-size: 1rem;
}


.post h1 {
  font-size: 1.5em;
  margin: 1.3em 0;
  line-height: 1.1em;
}

.post > h1 {
  margin-top: 0;
}

.post h2 {
  font-size: 1.35em;
  margin: 0.83em 0;
}

.post h3 {
  font-size: 1.15em;
  margin: 1em 0;
}

.post h4,
.post h5,
.post h6 {
  font-size: 1em;
  margin: 1.6em 0 1em 0;
}

.post h6 {
  font-weight: 500;
}


.post a {
  word-wrap: break-word;
}

.post h1 a,
.post h2 a,
.post h3 a {
  text-decoration: none;
}

.post strong,
.post b {
  font-weight: 700;
}

.post em,
.post i {
  font-style: italic;
}

.post img {
  height: auto;
  max-width: 100%;
  margin: auto;
  display: block;
}

.post figure {
  position: relative;
  clear: both;
  outline: 0;
  margin: 10px 0 30px;
  padding: 0;
  min-height: 100px;
}

.post figure img {
  display: block;
  max-width: 100%;
  margin: auto auto 4px;
  box-sizing: border-box;
}

.post figure figcaption {
  position: relative;
  width: 100%;
  text-align: center;
  left: 0;
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
}

.post figure figcaption a {
  text-decoration: none;
}

.post hr {
  display: block;
  width: 40%;
  margin: 60px auto 55px;
  border: 0 none;
  border-top: 1px solid $post-border-color;
}

hr {
  border-color: $post-border-color;
}

.post blockquote {
  margin: 0 0 1.64em 0;
  border-left: 3px solid $post-border-color;
  padding-left: 12px;
}

.post ul,
.post ol {
  margin: 0 0 24px 6px;
  padding-left: 16px;
}

.post ul {
  list-style-type: circle;
  list-style: inside;
}

.post ol {
  list-style-type: decimal;
}

.post li {
  margin-bottom: 0.2em;
}

.post li ul,
.post li ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 14px;
}

.post li ul {
  list-style-type: disc;
}

.post li ul ul {
  list-style-type: circle;
}

.post li p {
  margin: 0.4em 0 0.6em;
}

.post .unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.post code,
.post tt {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  font-family: $monospaced-fonts;
  word-wrap: break-word;
}

.post pre {
  margin: 1.64em 0;
  padding: 7px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  line-height: 1.5;
  font-family: $monospaced-fonts;
}

.post pre code,
.post pre tt {
  border: none;
  background: none;
  padding: 0;
}

.post table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.5em;
  font-size: 0.96em;
  box-sizing: border-box;
}

.post th,
.post td {
  text-align: left;
  padding: 4px 8px 4px 10px;
  border: 1px solid $post-border-color;
}

.post td {
  vertical-align: top;
}

.post iframe {
  display: block;
  max-width: 100%;
  margin-bottom: 30px;
}

.post figure iframe {
  margin: auto;
}

.post table pre {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

@media (min-width: 1100px) {
  .post blockquote {
    padding-left: 20px;
    border-width: 4px;
  }

  .post blockquote blockquote {
    margin-left: 0;
  }
}