html {
    overflow-y:scroll;
}

body {
  font-family: 'Work Sans', sans-serif;
}

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link, .landing-articles-categories a, .artist-page h3, .artist-page a, .post-content a, .donation-text a, .response-form-title, .article-nav a, .article-suggested a, .submission-list a, .creator-list a, .exhibit-creator-link a,  .landing-product-card a{
  color: $header-nav-color;
}

.navbar {
  padding: 0px;
}

.navbar-brand {
    font-family: Arial, sans-serif;
}

.posts-link-authors{
  color: $post-date-color;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}

.page-name, .read-more, .artist-articles, .article-suggested, .exhibit-vgd{
  color: $post-date-color !important;
}

.posts-categories a, .category-nav a{
  color: $post-date-color !important;
  text-decoration: none !important;
}

.read-more:hover, .posts-categories a:hover, .category-nav a:hover, .creator-list a:hover, .exhibit-creator-link a:hover, .landing-articles-categories a:hover, .landing-product-card a:hover{
  color: $post-link-hover-color !important;
  text-decoration: none !important;
}

.posts-categories{
  margin-left: 0.4 rem;
}

.posts-categories a:hover{
    text-decoration: none;
}

.post a, .post-content a, .artist-page a, .donation-text a{
  text-decoration: underline;
}

.post a:hover, .posts__link:hover, .posts-link-authors:hover, .artist-page a:hover{
  color: $post-link-hover-color;
  text-decoration: underline;
  text-decoration-color: $post-link-hover-color;
}

.post-exerpt{
  margin-bottom: 0rem;
}

.post-title, .response-form-title{
  font-size: 1.5em;
}

.post-content{
  margin-top: 1rem;
  overflow-wrap: break-word;
}

.artist-name{
  margin-top: 1rem;
}

.artist-links .list-group{
  flex-direction: row;
}

.artist-articles-heading, .article-suggested-heading{
  margin-top: 2rem;
}

.artist-links .list-group-item {
  border: 0px;
  padding-left: 0px;
  padding-top: 0px;
}

.artist-articles .list-group-item, .article-suggested .list-group-item{
  border: 0px;
  margin-bottom: 1rem;
  padding: 0px;
}

.landing-articles-categories .list-group-item{
  border: 0px;
  padding: 0px;
}

.logo{
  max-width: 5rem;
}

.btn-primary{
  background-color: $header-nav-color;
  text-decoration: none !important;
  color: white !important;
}

.btn-primary:hover{
  background-color: black;
  text-decoration: none !important;
  color: white !important;
}

.btn-outline-primary {
    color: $header-nav-color;
    background-color: transparent;
    background-image: none;
    border-color: $header-nav-color;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: $header-nav-color;
    border-color: $header-nav-color;
}

.post blockquote a{
  text-decoration-color: dimgray;
}

.form-article-title{
  width: 100%;
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0;
}

.form-article-title:focus{
  outline: none;
}

.response-form{
  margin-top: 1.25rem;
}

.posts-link-by{
  color: $post-date-color;
}

.posts-link-by:before {
  /* absolute positioning keeps it within h1's relative positioned box, takes it out of the document flow and forces a block-style display */
  position: absolute;
  /* the same width as our letter-spacing property on the h1 element */
  width: 0.3rem;
  /* we need to make sure our 'mask' is tall enough to hide the underline. For my own purpose 200% was enough, but you can play and see what suits you */
  height: 1.5rem;
  /* set the background colour to the same as whatever the background colour is behind your element. I've used a red box here so you can see it on your page before you change the colour ;) */
  background-color: white;
  /* give the browser some text to render (if you're familiar with clearing floats like this, you should understand why this is important) */
  content: ".";
  /* hide the dynamic text you've just added off the screen somewhere */
  text-indent: -9999em;
  /* this is the magic part - pull the mask off the left and hide the underline beneath */
  margin-left: -0.3em;
}

.navbar-light .navbar-toggler {
  border: none;
  padding: 0px;
}

.creator-list li, .submission-item{
  margin-bottom: 0.2rem;
  margin-right: 0.2rem;
}

.creator-list-letter {
  font-size: 2rem;
  font-family: Arial, sans-serif;
  margin-top: 1rem;
}

.social-media-list li{
  display: inline;
}

.svg-icon{
  fill: $footer-color;
  width: 1rem;
  margin-top: 5px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.svg-icon:hover{
  fill: black;
}

.footer a{
  color: $footer-color;
  text-decoration: none;
}

.footer a:hover{
  color: black;
}

.badge {
  line-height: 1.2;
  font-weight: 400;
}

.badge-primary {
  background-color: $header-nav-color;
}

.submission-content {
  margin-top: 1rem;
}

.exhibit-card {
  margin-bottom: 1rem;
  height: 100%;
  border-color: $header-nav-color;
  overflow:hidden;
}

.exhibit-submissions{
  margin-top: 1rem;
}

.exhibit-col {
  padding-bottom: 1.7rem;
}

.figure {
  display: block;
}

.landing {
  margin-top: 5rem;
}

.landing .card {
  border-color: $header-nav-color;
  overflow:hidden;
}


video:focus, audio:focus {
  outline:none;
}


html {
  box-sizing: border-box;
  font-size: $default-font-size;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $body-bg-color;
}

.layout {
}

.header {
  padding: 50px 0;
}

.main {
  margin: 50px 0 120px;
}

.header__nav {
  display: flex;
  align-items: baseline;
}

.header__nav__item {
  text-decoration: none;
  font-size: 1rem;
  color: $header-nav-color;
}

.header__nav__item--title {
  font-size: 1.55rem;
  margin-right: 40px;
  font-weight: bold;
}

.post-thumbnail-container {
  width: 252px;
  height: 142px;
  overflow: hidden;
}

.post-thumbnail-container img {
    margin-top: -19px;
    width: 252px;
}

.posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.posts__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  align-items: baseline;
}

.posts__date {
  color: $post-date-color;
  font-size: 1rem;
}

.posts__title {
  font-size: 1rem;
}

.posts__link {
  color: $post-link-color;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}

.footer {
  margin-top: 3rem;
  font-size: .9rem;
  color: $footer-color;
  font-family: Arial, sans-serif;
}


.icon {
  height: .9rem;
  width: .9rem;
  fill: $icon-color;
}

#disqus_thread {
  margin-top: 60px;
}

.post {
  font-weight: 400;
  line-height: 1.8rem;
  font-size: 1rem;
  color: $post-content-color;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  color: $post-heading-color;
}

.post h1 {
  font-size: 1.5em;
  margin: 1.3em 0;
  line-height: 1.1em;
}

.post > h1 {
  margin-top: 0;
}

.post h2 {
  font-size: 1.35em;
  margin: 0.83em 0;
}

.post h3 {
  font-size: 1.15em;
  margin: 1em 0;
}

.post h4,
.post h5,
.post h6 {
  font-size: 1em;
  margin: 1.6em 0 1em 0;
}

.post h6 {
  font-weight: 500;
}


.post a {
  color: $post-link-color;
  word-wrap: break-word;
  text-decoration-color: rgba($post-link-color, .8);
}

.post a:hover {
  color: $post-link-hover-color;
  text-decoration-color: $post-link-hover-color;
}

.post h1 a,
.post h2 a,
.post h3 a {
  text-decoration: none;
}

.post strong,
.post b {
  font-weight: 700;
  color: $post-emphasis-color;
}

.post em,
.post i {
  font-style: italic;
  color: $post-emphasis-color;
}

.post img {
  height: auto;
  max-width: 100%;
  margin: auto;
  display: block;
}

.post figure {
  position: relative;
  clear: both;
  outline: 0;
  margin: 10px 0 30px;
  padding: 0;
  min-height: 100px;
}

.post figure img {
  display: block;
  max-width: 100%;
  margin: auto auto 4px;
  box-sizing: border-box;
}

.post figure figcaption {
  position: relative;
  width: 100%;
  text-align: center;
  left: 0;
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  color: $post-figure-color;
}

.post figure figcaption a {
  text-decoration: none;
  color: $post-figure-color;
}

.post hr {
  display: block;
  width: 40%;
  margin: 60px auto 55px;
  border: 0 none;
  border-top: 1px solid $post-border-color;
}

.post blockquote {
  margin: 0 0 1.64em 0;
  border-left: 3px solid $post-border-color;
  padding-left: 12px;
  color: $post-blockquote-color;
}

.post blockquote a {
  color: $post-blockquote-color;
}

.post ul,
.post ol {
  margin: 0 0 24px 6px;
  padding-left: 16px;
}

.post ul {
  list-style-type: circle;
  list-style: inside;
}

.post ol {
  list-style-type: decimal;
}

.post li {
  margin-bottom: 0.2em;
}

.post li ul,
.post li ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 14px;
}

.post li ul {
  list-style-type: disc;
}

.post li ul ul {
  list-style-type: circle;
}

.post li p {
  margin: 0.4em 0 0.6em;
}

.post .unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.post code,
.post tt {
  color: $post-block-color;
  background-color: $post-block-bg-color;
  font-size: 0.96em;
  padding: 1px 2px;
  border: 1px solid $post-border-color;
  border-radius: 3px;
  font-family: $monospaced-fonts;
  word-wrap: break-word;
}

.post pre {
  margin: 1.64em 0;
  padding: 7px;
  border: none;
  border-left: 3px solid $post-border-color;
  padding-left: 10px;
  overflow: auto;
  line-height: 1.5;
  font-size: 0.96em;
  font-family: $monospaced-fonts;
  color: $post-block-color;
  background-color: $post-block-bg-color;
}

.post pre code,
.post pre tt {
  color: $post-block-color;
  border: none;
  background: none;
  padding: 0;
}

.post table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.5em;
  font-size: 0.96em;
  box-sizing: border-box;
}

.post th,
.post td {
  text-align: left;
  padding: 4px 8px 4px 10px;
  border: 1px solid $post-border-color;
}

.post td {
  vertical-align: top;
}

.post tr:nth-child(even) {
  background-color: $post-block-bg-color;
}

.post iframe {
  display: block;
  max-width: 100%;
  margin-bottom: 30px;
}

.post figure iframe {
  margin: auto;
}

.post table pre {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

@media (min-width: 1100px) {
  .post blockquote {
    padding-left: 20px;
    border-width: 4px;
  }

  .post blockquote blockquote {
    margin-left: 0;
  }
}