.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link, .landing a, .category-nav a, .artist-page h3, .artist-page a, .post-content a {
  color: $header-nav-color;
}

.navbar {
  padding: 0px;
}

.post a, .post-content a, .landing a, .artist-page a{
  text-decoration: underline;
}

.post a:hover, .landing a:hover, .posts__link:hover{
  color: $post-link-hover-color;
  text-decoration: underline;
}

.page-name, .read-more, .artist-articles{
  color: $post-date-color
}

.post-exerpt{
  margin-bottom: -1rem;
}

.post-title{
  font-size: 1.5em;
}

.post-content{
  margin-top: 1rem;
}

.artist-name{
  margin-top: 1rem;
}

.artist-articles-heading{
  margin-top: 2rem;
}

.artist-links .list-group{
  flex-direction: row;
}

.artist-links .list-group-item, .artist-articles .list-group-item{
  border: 0px;
  padding-left: 0px;
  padding-top: 0px;
}

.artist-articles .list-group-item{
  margin-bottom: 1rem;
}

.read-more:hover{
  color: $post-link-hover-color;
  text-decoration: none;
}

.logo{
  max-width: 10rem;
}


html {
  box-sizing: border-box;
  font-size: $default-font-size;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $body-bg-color;
}

.layout {
}

.header {
  padding: 50px 0;
}

.main {
  margin: 50px 0 120px;
}

.header__nav {
  display: flex;
  align-items: baseline;
}

.header__nav__item {
  text-decoration: none;
  font-size: 1rem;
  color: $header-nav-color;
}

.header__nav__item--title {
  font-size: 1.55rem;
  margin-right: 40px;
  font-weight: bold;
}

.posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.posts__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  align-items: baseline;
}

.posts__date {
  color: $post-date-color;
  font-size: 1rem;
}

.posts__title {
  font-size: 1rem;
}

.posts__link {
  color: $post-link-color;
  text-decoration: underline;
}

.footer {
  padding: 25px 0;
  font-size: .9rem;
  font-style: italic;
  color: $footer-color;
}

.footer__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.footer__item {
  margin-right: 10px;
  display: flex;
}

.footer__item a {
  color: $footer-color;
  text-decoration: none;
}

.footer__item:nth-child(2):before {
  content: '|';
  margin-right: 10px;
}

.footer__item:nth-child(3):before {
  content: '|';
  margin-right: 10px;
}

.icon {
  height: .9rem;
  width: .9rem;
  fill: $icon-color;
}

#disqus_thread {
  margin-top: 60px;
}
