// colors for the theme

$blue: #0000ff;

$green: #b5fe00;
$green-lightmode: #00944f;
$green-dark: darken($green-lightmode, 5);
$green-darker: darken($green-lightmode, 10);

$purple: #aa00f9;
$purple-dark: darken($purple, 10);
$purple-darker: darken($purple, 20);

$green-light: lighten($green, 5);
$green-lighter: lighten($green, 10);

$purple-light: lighten($purple, 10);
$purple-lighter: lighten($purple, 20);

$red: #ff006a;
$red-dark: darken($red, 10);
$red-light: lighten($red, 10);

$black: #000000;
$black-light: lighten($black, 10);
$black-lighter: lighten($black, 30);
$black-lightest: lighten($black, 50);

$grey: lighten($black, 35);
$grey-light: lighten($black, 75);
$grey-lightest: lighten($black, 85);

$white: #fff;
$white-dark: darken($white, 10);
$white-darker: darken($white, 30);
$white-darkest: darken($white, 50);

// specific colors for light and dark modes

$body-bg-color-light: $white;
$body-bg-color-dark: $black;

$accent-color-light: $blue;
$accent-color-dark: lighten($blue, 15);

$hover-color-light: lighten($black, 10);
$hover-color-dark: darken($white, 10);

$text-color-light: $black;
$text-color-dark: $white;

$text-sec-color-light: $grey;
$text-sec-color-dark: darken($white, 35);

$primary-btn-hover-light: $black;
$primary-btn-hover-dark: $grey;

$code-bg-color-light: darken($white, 10);
$code-bg-color-dark: lighten($black, 20);

$footer-color: $grey;
$icon-color: $grey;

@import 'normalize';
@import 'settings';
@import 'layout';
@import 'responsive';