---
layout: default
---

<div class="row">
  <div class="col-lg">

    {% if site.posts.size > 0 %}
    <p class="page-name">/articles/{{ page.tag }}</p>

      <div class='posts'>
        {% for post in site.categories[page.tag] %}
        <div class='posts__item row'>
        <div class='col-lg-2'>
          <time class='posts__date font-weight-light' datetime='{{ post.date | date_to_xmlschema }}'>
              {% assign date_format = site.date_format | default: '%b %-d, %Y' %}
              {{ post.date | date: date_format }}
              {% assign post_date = post.date | date: '%s' %}
              {% assign today_date = 'now' | date: '%s' %}
              {% if post_date > today_date %}
                <span class="badge badge-pill badge-primary">Coming Soon</span>
              {% endif %}
          </time>
        </div>
        <div class='col-lg posts__title'>
          <a class='posts__link' href='{{ post.url | relative_url }}'>
            {{ post.title | escape }}
          </a>
           {% if post.guest %}
              <span class="posts-link-by">featuring</span>
              {% assign guest_list = '' | split: '' %}
              {% for guest in post.guest %}
                {% for creator in site.creators %}
                  {% if creator.name == guest %}
                    {% capture guest_link %}
                      <a class='posts-link-authors' href='{{ creator.permalink }}'>{{ guest | escape }}</a>
                      {% endcapture %}
                      {% assign guest_link = guest_link | rstrip %}
                      {% assign guest_list = guest_list | push: guest_link %}
                  {% endif %}
                {% endfor %}
             {% endfor %}
             {{ guest_list | join: "," }}
            {% endif %}

            {% if post.author %}
              <span class="posts-link-by">by</span>
              {% assign author_list = '' | split: '' %}
              {% for author in post.author %}
                {% for creator in site.creators %}
                  {% if creator.name == author %}
                    {% capture author_link %}
                      <a class='posts-link-authors' href='{{ creator.permalink }}'>{{ author | escape }}</a>
                    {% endcapture %}
                    {% assign author_link = author_link | rstrip %}
                    {% assign author_list = author_list | push: author_link %}
                  {% endif %}
                {% endfor %}
             {% endfor %}
             {{ author_list | join: "," }}
            {% endif %}
          <div class="post-exerpt font-weight-light">
            {% if post.post_description %}
              {{ post.post_description }}
            {% else %}
              {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
            {% endif %}
            <a href="{{ post.url | relative_url }}" class="read-more font-weight-light">Read More</a>
        </div>
          </div>
        </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
  {% include categorynav.html %}
</div>

