---
layout: default
---

<div class="artist-page">
<div class="row">
	<div class="col-md-4 artist-image">
		<img src="/assets/creator_images/{{ page.photo }}" class="img-fluid " alt="{{ page.name }}">
	</div>
	<div class="col-md col align-self-end">
		<h3 class="artist-name">{{ page.name }}</h3>
		{{ content }}

		<div class="artist-links">

			<ul class="list-group list-group-horizontal">
				{% if page.shop %}
					<li class="list-group-item">
						<a href="{{ site.shop }}/category/{{ page.shop }}" target="_blank">products</a>
					</li>
				{% endif %}
				{% if page.website %}
					<li class="list-group-item">
						<a href="{{ page.website }}" target="_blank">website</a>
					</li>
				{% endif %}
				{% if page.instagram %}
					<li class="list-group-item">
						<a href="https://www.instagram.com/{{ page.instagram }}" target="_blank">instagram</a>
					</li>
				{% endif %}
				{% if page.twitter %}
					<li class="list-group-item">
						<a href="https://twitter.com/{{ page.twitter }}" target="_blank">twitter</a>
					</li>
				{% endif %}
				{% if page.spotify %}
					<li class="list-group-item">
						<a href="{{ page.spotify }}" target="_blank">spotify</a>
					</li>
				{% endif %}
				{% if page.bandcamp %}
					<li class="list-group-item">
						<a href="{{ page.bandcamp }}" target="_blank">bandcamp</a>
					</li>
				{% endif %}
				{% if page.soundcloud %}
					<li class="list-group-item">
						<a href="{{ page.soundcloud }}" target="_blank">soundcloud</a>
					</li>
				{% endif %}
				{% if page.patreon %}
					<li class="list-group-item">
						<a href="{{ page.patreon }}" target="_blank">patreon</a>
					</li>
				{% endif %}
				{% if page.gumroad %}
					<li class="list-group-item">
						<a href="{{ page.gumroad }}" target="_blank">gumroad</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>
{% for post in site.posts %}
	{% if post.author contains page.name or post.guest contains page.name %}
		{% assign contributer = true %}
		{% break %}
	{% endif %}
{% endfor %}

{% assign exhibits = site.data.exhibits %}
{% for exhibit in exhibits %}
	{% if exhibit[1]['creators'][0] %}
		{% for author in exhibit[1]['creators'] %}
			{% assign author = author | strip %}
		    {% if page.name == author %}
		    	{% assign contributer = true %}
		    	{% break %}
		    {% endif %}
		{% endfor %}
	{% endif %}
{% endfor %}


{% if contributer == true %}
	<div class="row">
		<div class="col artist-articles">
			<p class="artist-articles-heading">pages.virtualgoodsdealer.com contributions</p>
			<ul class="list-group">
			{% for post in site.posts %}
				{% if post.author contains page.name or post.guest contains page.name %}
					<li class="list-group-item">
						<a href="{{ post.url }}">{{ post.title }}</a>
						<div class="post-exerpt font-weight-light">
            				{% if post.post_description %}
                				{{ post.post_description }}
              				{% else %}
                				{{ post.excerpt }}
              				{% endif %}
          				</div>
					</li>
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endif %}
</div>
