<head>
  <meta http-equiv="refresh" content="5; URL=https://www.virtualgoodsdealer.com{{ page.url }}" />
  {% include head.html %}
</head>
<body>
	<div class="justify-content-center  mt-5 mb-3">
		<img src='{{ "/assets/virtualgoodsdealer_logo_bw.png" | base_url }}' class="img-fluid d-block m-auto logo" alt="virtualgoodsdealer logo">
	</div>
	<div class="container text-center post">
		<p>The "Deleted in 2020" project has been moved from pages.virtualgoodsdealer.com/deleted2020 to <a href="https://www.virtualgoodsdealer.com/deleted2020">virtualgoodsdealer.com/deleted2020</a>.</p>
	  	<p>If you are not redirected in five seconds, <a href="https://www.virtualgoodsdealer.com{{ page.url }}">click here</a>.</p>
  	</div>

</body>
