---
layout: default
---

<p class="page-name">/{{ page.title }}</p>

<div class="justify-content-center my-1">
		<picture>
			<source srcset="../assets/virtualgoodsdealer_logo_bw_whitetext.png" media="(prefers-color-scheme: dark)">
			<img src="../assets/virtualgoodsdealer_logo_bw.png" class="img-fluid d-block m-auto logo" alt="virtualgoodsdealer logo">
		</picture>
</div>

<div class="post-content">
  {{ content }}
  	<div class="text-center">
  		<a href="https://paypal.me/virtualgoodsdealer" class="btn btn-primary donate-btn" target="_blank">Support us via Paypal</a>
	</div>
</div>