---
layout: default
---
<div class="row">
{% assign exhibits = site.data.exhibits %}
{% for exhibit in exhibits %}
	<div class='col-lg-4 col- p-0'>
		<div class="card exhibit-card">
		  <img class="card-img-top" src="..." alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">{{ exhibit[1]['name'] }}</h5>
		    <p class="card-text">{{ exhibit[1]['description'] }}</p>
		    <a href="{{ exhibit[1]['link'] }}" class="btn btn-primary" target="_blank">View</a>
		  </div>
		</div>
	</div>
{% endfor %}
</div>
