---
layout: default
---
<div class="landing">
	<div class="mb-3 w-100 text-center">
		<img src="../assets/virtualgoodsdealer_logo_color.png" class="img-fluid logo" alt="virtualgoodsdealer logo">
	</div>
	<div class="mb-3 w-100 landing-pages-about text-center">
		virtualgoodsdealer pages is a portal for publishing non-physical media and showcasing creators. 
	</div>
		<a href="https://www.virtualgoodsdealer.com/subscribe" class="btn btn-outline-primary w-100 mb-5">subscribe to our mailing list!</a>

	<div class="mb-5 w-100">
		<h5 class="card-title text-center">
			recent articles
		</h5>
		<div class="card">
			<div class="card-body">
				{% assign post_array = site.posts | where: "layout", "post" %}
	  			{% for post in post_array limit: 3 %}
	  				<div class="mb-3 row">
	  					{% if post.thumbnail %}
	  					<div class="col- col-md-3">
	  						<div class="post-thumbnail-container mx-auto">
	  							<a href='{{ post.url | relative_url }}'>
	  								<img class="" src="{{ post.thumbnail }}"/>
	  							</a>
	  						</div>
	  					</div>
	  					<div class="col- col-md-9">
	  					{% else %}
	  						<div class="col">
	  					{% endif %}
		  				<a class='posts__link' href='{{ post.url | relative_url }}'>
			              {{ post.title }}
			            </a>

			            {% if post.guest %}
			              <span class="posts-link-by">featuring</span>
			              {% assign guest_list = '' | split: '' %}
			              {% for guest in post.guest %}
			                {% for creator in site.creators %}
			                  {% if creator.name == guest %}
			                    {% capture guest_link %}
			                      <a class='posts-link-authors' href='{{ creator.permalink }}'>{{ guest | escape }}</a>
			                      {% endcapture %}
			                      {% assign guest_link = guest_link | rstrip %}
			                      {% assign guest_list = guest_list | push: guest_link %}
			                  {% endif %}
			                {% endfor %}
			             {% endfor %}
			             {{ guest_list | join: "," }}
			            {% endif %}

			            {% if post.author %}
			              <span class="posts-link-by">by</span>
			              {% assign author_list = '' | split: '' %}
			              {% for author in post.author %}
			                {% for creator in site.creators %}
			                  {% if creator.name == author %}
			                    {% capture author_link %}
			                      <a class='posts-link-authors' href='{{ creator.permalink }}'>{{ author | escape }}</a>
			                    {% endcapture %}
			                    {% assign author_link = author_link | rstrip %}
			                    {% assign author_list = author_list | push: author_link %}
			                  {% endif %}
			                {% endfor %}
			             {% endfor %}
			             {{ author_list | join: "," }}
			            {% endif %}
			            <div class="font-weight-light" id="{{ post.title | slugify }}">
			              {% if post.post_description %}
			                {{ post.post_description }}
			              {% else %}
			                {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
			              {% endif %}
			            </div>
			            {% if post.categories %}
			              <span class="posts-categories">
			              {% assign categories = post.categories | sort %}
			              {% for category in categories %}
			                <a class='font-weight-light' href='/articles/{{ category }}'>
			                   /{{ category }}
			                </a>
			              {% endfor %}
			              </span>
			            {% endif %}

		       		</div>

			        {% include clamp.html %}
					<script>
						var exerpts = document.getElementById("{{ post.title | slugify }}");
						$clamp(exerpts, {clamp: 2, truncationHTML: '<a href="{{ post.url | relative_url }}" class="read-more font-weight-light">Read More</a>', useNativeClamp: false});
					</script>
					</div>
  				{% endfor %}
			  	<div class="text-center mt-3">
					<a href="/articles" class="btn btn-outline-primary w-100 mb-0" >more articles</a>
				</div>
		  	</div>
		</div>
	</div>

	<h5 class="card-title text-center">
		browse articles by category...
	</h5>
	<div class="landing-articles-categories mb-5 w-100 d-flex justify-content-center">
		<a class="mr-1" href="/articles">/articles</a>
		<ul class="list-group">					
			{% assign categories = site.categories | sort %}
			{% for category in categories %}
		    <li class="list-group-item">
		      <a class="font-weight-light" href="{{ site.url }}/articles/{{ category | first | slugsize }}">/{{ category | first }}</a>
		    </li>
		{% endfor %}
	</ul>
	</div>

	<div class="mb-5 w-100">
		<h5 class="card-title text-center">
			featured web exhibit
		</h5>
		{% assign exhibit_array = site.posts | where: "layout", "exhibit" %}
		{% for exhibit in exhibit_array limit: 1 %}
		<div class="card mb-3">
			{% assign poster = exhibit.demo_poster %}
			{% assign source = exhibit.demo %}
			{% include exhibit-video-embed.html poster=poster src=source%}
			  <div class="card-body">
			    <h5 class="card-title">{{ exhibit.title }}</h5>
			    {% if exhibit.author %}
			    	{% capture creators_link %}
			    		<h6 class="card-subtitle exhibit-creator-link mb-2">
			    	{% endcapture %}
			    	{% for author in exhibit.author %}
			    		{% assign author = author | strip %}
			    		{% for creator in site.creators %}
			    			{% if creator.name == author %}
			    				{% capture atag %}
			    					<a href="{{ creator.permalink }}" >
			    				{% endcapture %}
			    				{% assign atag = atag | append: author %}
			    				{% assign atag = atag | append: '</a>' %}
			    			{% endif %}
			    		{% endfor %}
			    		{% assign creators_link = creators_link | append: atag %}
			    	{% endfor %}
			    	{% assign creators_link = creators_link | append: "</h6>" %}
			    	{{ creators_link }}
			    {% else %}
			    	<h6 class="card-subtitle exhibit-vgd mb-3">virtualgoodsdealer</h6>
			    {% endif %}
			    <div class="card-text">{{ exhibit.post_description }}</div>
			    <div class="text-center mt-3">
			    	<a href="{{ exhibit.link }}" class="btn btn-outline-primary w-100 mb-0" target="_blank">view</a>
			    </div>
			  </div>
			</div>
	{% endfor %}
	<a href="/exhibits" class="btn btn-primary w-100">more exhibits</a>
	</div>
	<div class="mb-5 w-100">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title text-center">
					open calls for submissions
				</h5>
	
	  			{% assign form_sorted = site.submissions | reverse %}
				{% for form in form_sorted %}
					{% if form.open == true %}
				    	<div class="mb-3">
					      	<a class="posts__link" href="{{ site.url }}{{ form.permalink }}">{{ form.title }}</a>
					      	<div class="font-weight-light" id="{{ form.title | slugify }}">
				                {{ form.content | strip_html | truncatewords: 50 }}
				            </div>
			    		</div>
			    		<script>
							var exerpts = document.getElementById("{{ form.title | slugify }}");
							$clamp(exerpts, {clamp: 2, truncationHTML: '<a href="{{ form.url | relative_url }}" class="read-more font-weight-light">Read More</a>', useNativeClamp: false});
						</script>
			    	{% endif %}
				{% endfor %}
			  	<div class="text-center mt-3">
					<a href="/submissions" class="btn btn-outline-primary w-100 mb-0" >view all</a>
				</div>
  			</div>
		</div>
	</div>
</div>
		<script>
					document.addEventListener("DOMContentLoaded", function() {
		  var lazyVideos = [].slice.call(document.querySelectorAll("video.lazy"));

		  if ("IntersectionObserver" in window) {
		    var lazyVideoObserver = new IntersectionObserver(function(entries, observer) {
		      entries.forEach(function(video) {
		        if (video.isIntersecting) {
		          for (var source in video.target.children) {
		            var videoSource = video.target.children[source];
		            if (typeof videoSource.tagName === "string" && videoSource.tagName === "SOURCE") {
		              videoSource.src = videoSource.dataset.src;
		            }
		          }

		          video.target.load();
		          video.target.classList.remove("lazy");
		          lazyVideoObserver.unobserve(video.target);
		        }
		      });
		    });

		    lazyVideos.forEach(function(lazyVideo) {
		      lazyVideoObserver.observe(lazyVideo);
		    });
		  }
		});
		</script>
