---
layout: default
---

<article class='post'>
	<div class="row">
		<div class="col post-title">
			{{ page.title }}
		</div>
		<div class="col-md-3">
			<div class="posts__date text-md-right font-weight-light" datetime='{{ page.date | date_to_xmlschema }}'>
        	{% assign date_format = site.date_format | default: '%b %-d, %Y' %}
        	{{ page.date | date: date_format }}
        	</div>
  		</div>
	</div>
	<div class="row">
		<div class="col">
			{% if page.author %}
              by
              {% for creator in site.creators %}
                {% if creator.name == page.author %}
                  <a href='{{ creator.permalink }}'>
                    {{ page.author | escape }}
                  </a>
                {% endif %}
              {% endfor %}
            {% endif %}
		</div>
		<div class="col-md">
			<div class="text-md-right text-nowrap">
			{% if page.categories %}
				{% for category in page.categories %}
					<a href="/articles/{{ category }}">/articles/{{ category }}</a>
				{% endfor %}
			{% endif %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col post-content">
			{{ content }}
		</div>

	</div>


</article>

	    {% if page.author %}
      		{% for creator in site.creators %}
        		{% if creator.name == page.author %}
        		<div class="card text-center">
				  <div class="card-header">
				    Thanks for reading!
				  </div>
				  <div class="card-body">
				  	{% if creator.donationlink %}
				    	<h5 class="card-title">If you enjoyed this post, consider donating to the author below.</h5>
				    {% endif %}
				    <p class="card-text"><span class="donation-text">{{ creator.content | markdownify | remove: '<p>' | remove: '</p>' }}</span><a href="{{ creator.permalink }}" class="read-more">Learn more</a></p>
				    {% if creator.donationlink %}
				    	<a href="{{ creator.donationlink }}" class="btn btn-primary">Donate here</a>
				    {% endif %}
				  </div>
				</div>
        			

					
        		{% endif %}
      		{% endfor %}
    	{% endif %}

{% include disqus.html %}