---
layout: default
---
<script>
// adding links to all headings h2, h3, and h4
window.addEventListener('DOMContentLoaded', (event) => {
	const headings = document.querySelectorAll('h2,h3,h4'); // 1
	for (const heading of headings) { // 3
    	const headingLink = document.createElement('a'); // 4
    	headingLink.setAttribute('href', `#${heading.id}`); // 5
    	headingLink.innerHTML = heading.innerHTML; // 6
    	headingLink.classList.add("heading");

    	heading.innerHTML = "";
    	heading.appendChild(headingLink); // 7
	}
});
</script>

<article class='post'>
	<div class="row">
		<!-- title of page -->
		<div class="col post-title">
			{{ page.title }}
		</div>
		<!-- add coming soon badge if article date is in future -->
		<div class="col-md-3">
			<div class="posts__date text-md-right font-weight-light" datetime='{{ page.date | date_to_xmlschema }}'>
        	{% assign date_format = site.date_format | default: '%b %-d, %Y' %}
        	{{ page.date | date: date_format }}
        	{% assign post_date = page.date | date: '%s' %}
              {% assign today_date = 'now' | date: '%s' %}
              {% if post_date > today_date %}
                <span class="badge badge-pill badge-primary">Coming Soon</span>
              {% endif %}
        	</div>
  		</div>
	</div>
	<div class="row">
		<!-- add guests and authors of post-->
		<div class="col">
			{% if page.guest %}
              featuring
              {% assign guest_list = '' | split: '' %}
              {% for guest in page.guest %}
	              {% for creator in site.creators %}
	                {% if creator.name == guest %}
	                	{% capture guest_link %}
	                  	<a href='{{ creator.permalink }}'>{{ guest | escape }}</a>
	                  	{% endcapture %}
	                  	{% assign guest_link = guest_link | rstrip %}
	                  	{% assign guest_list = guest_list | push: guest_link %}
	                {% endif %}
	              {% endfor %}
	           {% endfor %}
	           {{ guest_list | join: "," }}
	           <br />
            {% endif %}

			{% if page.author %}
              by
              {% assign author_list = '' | split: '' %}
              {% for author in page.author %}
	              {% for creator in site.creators %}
	                {% if creator.name == author %}
	                	{% capture author_link %}
	                  	<a href='{{ creator.permalink }}'>{{ author | escape }}</a>
	                  	{% endcapture %}
	                  	{% assign author_link = author_link | rstrip %}
	                  	{% assign author_list = author_list | push: author_link %}
	                {% endif %}
	              {% endfor %}
	           {% endfor %}
	           {{ author_list | join: "," }}
            {% endif %}
		</div>
		<!-- add categories of post -->
		<div class="col-md">
			<div class="text-md-right text-nowrap category-nav">
			{% if page.categories %}
				{% assign categories = page.categories | sort %}
				{% for category in categories %}
					<a class="font-weight-light" href="/articles/{{ category }}">/articles/{{ category }}</a>
				{% endfor %}
			{% endif %}
			</div>
		</div>
	</div>
	<div class="row">
		<!-- add content of post -->
		<div class="col post-content">
			{{ content }}
		</div>

	</div>


</article>
<!-- add article author and guest bio -->
{% include article-creator.html %}
<hr />
<!-- add next and prev article navigation and related articles -->
{% include article-nav.html %}
<hr />
<!-- add response form -->
<div class="response-form">
	<span class="response-form-title">Want to leave us a response?</span>
	<form action="https://formspree.io/f/mbjpapqy" method="POST">
	  <div class="form-group row no-gutters">
	  	<div class="col-sm-auto">
	  	<span>Responding to:&nbsp;</span>
	  </div>
	  <div class="col">
	  	<input class="form-article-title" type="text" name="article_title" id="articleTitle" value='{{page.title}}' readonly>
	  </div>
	</div>
	  <div class="form-group">
	    <label for="name">Name</label>
	    <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
	  </div>
	  <div class="form-group">
	    <label for="email">Email address</label>
	    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
	    <small id="emailHelp" class="form-text text-muted">Only submit your email if you would like a private direct response.</small>
	  </div>
	  <div class="form-group">
	    <label for="response">Response</label>
    	<textarea class="form-control" id="response" name="response" rows="3" required></textarea>
	  </div>
	  <div class="form-group">
		<div class="form-check">
		    <input type="checkbox" class="form-check-input" id="canShareCheck" name="can_share">
		    <label class="form-check-label" for="canShareCheck" aria-describedby="checkHelp">This response can be publicly shared.</label>
		</div>
		<small id="checkHelp" class="form-text text-muted">Check this box if we can publish your response on this site in a future post.</small>
		</div>
	  <button type="submit" class="btn btn-primary">Submit Response</button>
	</form>
</div>