---
layout: default
---

<p class="page-name">/{{ page.title }}</p>

<div class="post-content">
  {{ content }}
</div>

<div class="submission-list">
	{% assign form_sorted = site.submissions | reverse %}
  {% for form in form_sorted %}
    <div class="submission-item">
      <a href="{{ site.url }}{{ form.permalink }}">{{ form.title }}</a>
      {% if form.open == true %}
      	<span class="badge badge-pill badge-primary">Open</span>
      {% else %}
      	<span class="badge badge-pill badge-secondary">Closed</span>
      {% endif %}
    </div>
  {% endfor %}
</div>
